
<footer class="main-footer">
  <hr/>
  <div class="social">
    <h4>Wonderful World  </h4>
    <hr/>
    <div class="row">          
      <input class="search" type="text" name="search" placeholder="Search"/>
    </div><a href=""><i class="fa fa-2x fa-facebook"> </i></a><a href=""><i class="fa fa-twitter"></i></a><a href=""><i class="fa fa-envelope"> </i></a><a href=""><i class="fa fa-globe"></i></a><a href=""><i class="fa fa-bell"></i></a><a href=""><i class="fa fa-envelope"> </i></a><a href=""><i class="fa fa-podcast"></i></a>
  </div>
</footer>
<nav class="footer-panel">      
  <ul> <a>Settings</a><a>Help     </a><a>Suggestion </a><a>Privacy</a><a>Terms     </a><a>Advertise </a></ul>
</nav>