
<div class="sidebar-primary"> <a class="btn-expand-collapse" href="#"><i class="fas fa-bars"></i></a>
  <ul class="sidebar-primary-menu">
    <li><a class="navlink" href="#"> <i class="fas fas-2x fa-user-circle"><span>User</span></i></a><a class="navlink" href="#"> <i class="fab fab-2x fa-envira"><span>Details</span></i></a><a class="navlink" href="/"><i class="fas fas-2x fa-home"><span>Home</span></i></a><a class="navlink" href="/about-us"> <i class="fas fas-2x fa-info-circle"><span>About Us </span></i></a><a class="navlink" href="/contact-us"> <i class="fas fas-2x fa-id-card-alt"> <span>Contact Us</span></i></a><a class="navlink" href=""> <i class="fas fas-2x fa-cog"> <span>Settings</span></i></a><a class="navlink" href=""> <i class="fas fas-2x fa-question-circle"> <span>Help</span></i></a></li>
  </ul>
</div>