
<nav class="navbar-primary"> 
  <nav class="navbar-primary"> <a class="btn-expand-collapse" href="#"><i class="fas fa-angle-double-right"></i></a>
    <ul class="navbar-primary-menu">
      <li><a class="navlink" href=""> <i class="fas fas-2x fa-user-circle"></i></a><a class="navlink" href=""> <i class="fab fab-2x fa-envira"></i></a><a class="navlink" href=""><i class="fas fas-2x fa-home"></i></a><a class="navlink" href=""> <i class="fas fas-2x fa-info-circle"> </i></a><a class="navlink" href=""> <i class="fas fas-2x fa-id-card-alt"> </i></a><a class="navlink" href=""> <i class="fas fas-2x fa-cog"> </i></a><a class="navlink" href=""> <i class="fas fas-2x fa-question-circle"> </i></a></li>
    </ul>
  </nav>
</nav>