mixin footer
  head    
    meta(charset="UTF-8")
    title=title

footer.main-footer
  hr
  .social
    h4 Wonders of the World  
    hr
    .row           
      input.search(      
          type='text'
          name='search'
          placeholder='Search'
          )

    a(href="")
      i.fa.fa-2x.fa-facebook 
    a(href="")
      i.fa.fa-2x.fa-twitter
    a(href="")
      i.fa.fa-2x.fa-envelope 
    a(href="")
      i.fa.fa-2x.fa-globe
    a(href="")
      i.fa.fa-2x.fa-bell
    a(href="")
      i.fa.fa-2x.fa-envelope 
    a(href="")
      i.fa.fa-2x.fa-podcast


nav.footer-panel       
  ul  
    a Settings
    a Help     
    a Suggestion 
    a Privacy
    a Terms     
    a Advertise 
  
    