header.main-header
  nav.navbar.navbar-light
    label.logo(href='') Wonderful World      
    ul  
      a(href='/') Home
      a(href='/about-us') About Us     
      a(href='/contact-us') Contact Us      

    