
nav.navbar-primary  
 nav.navbar-primary  
    a.btn-expand-collapse(href="#")
      i.fas.fa-angle-double-right
    ul.navbar-primary-menu
      li
        a(href='').navlink 
          i.fas.fas-2x.fa-user-circle
        a(href='').navlink 
          i.fab.fab-2x.fa-envira
        a(href='').navlink
          i.fas.fas-2x.fa-home
        a(href='').navlink 
          i.fas.fas-2x.fa-info-circle 
        a(href='').navlink 
          i.fas.fas-2x.fa-id-card-alt  
        a(href='').navlink 
          i.fas.fas-2x.fa-cog 
        a(href='').navlink 
          i.fas.fas-2x.fa-question-circle 


