
.sidebar-primary  
  a.btn-expand-collapse(href="#")
    i.fas.fa-bars
  ul.sidebar-primary-menu
    li
      a(href='#').navlink 
        i.fas.fas-2x.fa-user-circle
          span User
      a(href='#').navlink 
        i.fab.fab-2x.fa-envira
          span Details
      a(href='/').navlink
        i.fas.fas-2x.fa-home
          span Home
      a(href='/about-us').navlink 
        i.fas.fas-2x.fa-info-circle
          span About Us 
      a(href='/contact-us').navlink 
        i.fas.fas-2x.fa-id-card-alt  
          span Contact Us
      a(href='').navlink 
        i.fas.fas-2x.fa-cog 
          span Settings
      a(href='').navlink 
        i.fas.fas-2x.fa-question-circle 
          span Help


