nav.sidebar  
  ul.sidebar-navbar
    a(href='').navlink 
      i.fas.fa-home Home
    a(href='').navlink 
      i.fas.fa-info-circle About Us
    a(href='').navlink 
      i.fas.fa-home Contact Us
    a(href='').navlink 
      i.fas.fa-home  Settings
    a(href='').navlink 
      i.fas.fa-home Help