extends layout
block primary
  main
    h1 About us
    hr

    div.panel
      .panel-heading  
        .panel-title
          h6 Info 1
      .panel-body
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
    div.panel
      .panel-heading  
        .panel-title
          h6 Info 2
      .panel-body
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.