
extends layout
block primary
  main
    h1 Home
    hr
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.

    .page-header
      h1 Bootstrap carousel control
      +carousel("myCarousel",
      [{image:"https://source.unsplash.com/user/iam_aspencer/1600x900",h1:"Wonder ",p:"Picture 1"},
       {image:"https://source.unsplash.com/user/mirkosphoto/1600x900",h1:"Wonder ",p:"Picture 2"},
       {image:"https://source.unsplash.com/user/jimmydean/1600x900",h1:"Wonder ",p:"Picture 2"}])

      