extends layout

block primary
  main
    h2 Home Page
    hr
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  
    div.container
      div.page-header
        h4 Scroll through the Wonders            
      div.carousel-inner(role="listbox")
        div.item(active)
          img(src="https://source.unsplash.com/user/erondu/1600x900")
        div.item
          img(src="https://source.unsplash.com/user/rumanamin/1600x900")
        div.item
          img(src="https://source.unsplash.com/user/iam_aspencer/1600x900")
        div.item
          img(src="https://source.unsplash.com/user/mirkosphoto/1600x900")
        div.item
          img(src="https://source.unsplash.com/user/jimmydean/1600x900")